<li class="list-group-item li-factor-{{factorIndex}}">
    <div class="factor-item">
        Factor name: {{factorName}}
        <button>
            <span class="glyphicon glyphicon-ok save-factor-button" aria-hidden="true"></span>
        </button>
        <button>
            <span class="glyphicon glyphicon-remove remove-factor-button" aria-hidden="true"></span>
        </button>

        <!--
        <ul id="level-list" class="list-group">
            {{> levelTemplate}}
        </ul>
        -->
        <div id="formplaceholder">
            Level name:
            <input name="levelName" type="text" />
            <button class="btn btn-default add-level-button" type="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Add new Level</span>
            </button>
        </div>
    </div>
</li>