
<li class="list-group-item">
    <div class="hidden">
        Factor name:
        <input name="factorName" type="text" />
        <button>
            <span class="glyphicon glyphicon-ok save-factor-button" aria-hidden="true"></span>
        </button>
        <button>
            <span class="glyphicon glyphicon-remove remove-factor-button" aria-hidden="true"></span>
        </button>

        <div class="hidden">
            Level name:
            <input name="factorName" type="text" />
            <button>
                <span class="glyphicon glyphicon-ok save-level-button" aria-hidden="true"></span>
            </button>
            <button>
                <span class="glyphicon glyphicon-remove remove-level-button" aria-hidden="true"></span>
            </button>
        </div>


        <div>
            <button class="btn btn-default add-level-button" type="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Add new Level</span>
            </button>
        </div>
    </div>
</li>