<div class="level-item div-level-{{levelIndex}}">
    Level name:
    <input name="levelName" type="text" />
    <button>
        <span class="glyphicon glyphicon-ok save-level-button" aria-hidden="true"></span>
    </button>
    <button>
        <span class="glyphicon glyphicon-remove remove-level-button" aria-hidden="true"></span>
    </button>

    <button class="btn btn-default add-level-button" type="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">Add new Level</span>
    </button>

</div>