.hidden {
    display: none;
}

.clear {
	clear: both;
}

button .add-factor-button {
    color: green;
}

button .save-factor-button {
    color: green;
}

button .clear-factor-button {
    color: red;
}