.hidden {
    display: none;
}

.clear {
	clear: both;
}

#logo {
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

#logo h1 {
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.top-right {
    float: right;
}

.top-right form {
    display: inline-block;
    vertical-align: middle;
}

.top-right a {
    display: inline-block;
    vertical-align: middle;
}

form-error {
    background-color: red;
    color: black;
}

.btn.purple {
    background-color: darkviolet;
    color: white;
}

.btn.purple:hover {
    background-color: white;
    color: darkviolet;
}

.btn.purple-empty {
    background-color: white;
    color: darkviolet;
}

.btn.purple-empty:hover {
    background-color: darkviolet;
    color: white;
}

button.add-button {
    color: white;
    background-color: green;
}
button.add-button:hover {
    color: green;
    background-color: white;
}

button.edit-button {
    color: white;
    background-color: #F1C40F;
    padding: 3px 6px;
    margin-left: 5px;
}

button.edit-button:hover {
    color: #F1C40F;
    background-color: white;
}

button.remove-button {
    color: white;
    background-color: red;
    padding: 3px 6px;
    margin-left: 5px;
}

button.remove-button:hover {
    color: red;
    background-color: white;
}

.factor-row {
    padding: 10px 15px;
}

.add-factor-row {
    background-color: #FFE094;
}

.factor-table {
    padding: 0px;
}

#factor-list {
    margin-bottom: 0px;
}

#factor-list .list-group-item {
    padding: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;
}

#factor-list .list-group-item .list-group-item {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.factor-item-header {
    background-color: darkblue;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.factor-item-header > a {
    color: inherit;
    text-decoration: none;
}

.factor-item-name {
    font-weight: bold;
    font-size: large;
}

.factor-item-actions {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.factor-item-actions > form {
    margin: 0px;
}

.factor-item > .factor-item-levels > form {
    background-color: cornflowerblue;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.factor-item > .factor-item-levels > ul {
    padding: 0px;
}


.level-item-name {
    font-size: medium;
}

.level-item-actions {
    display: flex;
    align-items: center;
}

.level-item-actions > form {
    margin: 0px;
}

.factor-item-levels {
    color: black;
}
.factor-item-levels > ul > li:nth-child(even) {
    background-color: azure;
}

.accordion-toggle:before {
    /* symbol for opening panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
}

.accordion-toggle.collapsed:before {
    content: "\e080"; /* symbol for collapsed panels */
}


.table th {
    background-color: darkblue;
    color: white;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.case-considered {
    background-color: darkseagreen !important;
}

.export-actions {
    margin-bottom: 10px;
}